@media screen and (max-width: 375px) {
    .item-title {
        width: 0.5rem;
        transform: scale(0.8);
    } 
}

.home-top{//顶部布局
    .home-banner{
        width: 100%;
        height: 1.83rem;
        background-color: #e2e2e2;
        >img{
            width: 100%;
            height: 100%;
        } 
    }
    .home-nav{
        text-align: center; 
        height: 0.94rem;
        border:1px solid rgba(241, 241, 241, 0.5);
        box-shadow:0px 5px 5px 0px rgba(9,2,4,0.2);
        background:linear-gradient(0deg,rgba(249,249,249,1),rgba(254,254,254,1),rgba(242,242,242,1));
        border-radius: 0.12rem;
        position: relative;
        top: -0.15rem;
        background-color: #fff; 
        .nav-item{ 
            align-items: center;
            width: 0.43rem;
            height: 0.57rem;    
            .item-icon{
                width: 100%;
                height: 0.43rem; 
                img{
                    width: 100%;
                }
            }
            .item-title{ 
                font-size: 0.09rem;
                height: 0.09rem; 
                line-height: 0.09rem; 
            }
        }
    }  
    
}

.home-main{
    background-color: #fff;
    .headline{
        height: 0.16rem;
        .more{
            font-size: 0.08rem;
            
        }
    }
}